// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";


//Additional
@import "~bootstrap/scss/bootstrap";



//Custom styling
h1 {
    color: blue;
    text-align: center;
  }

.carousel-inner img {
    width: 100%;
    height: 100%;
  }